<section class="modalRestart hidden">
    <div class="roundTied">
        <span class="roundTiedText">RESTART GAME?</span>
    </div>
    <div class="buttonOptionsTies">
        <form id="quit" action="">
            <button class="cancel">NO, CANCEL</button>
        </form>
        <form id="restartConfirm" action="/">
            <button class="restartConfirm">YES, RESTART</button>
        </form>
    </div>
</section>