<section class="modalTies hidden">
    <div class="roundTied">
        <span class="roundTiedText">ROUND TIED</span>
    </div>
    <div class="buttonOptionsTies">
        <form id="quit" action="/">
            <button class="quit">QUIT</button>
        </form>
        <form id="nextTies" action="/game">
            <button class="nextTies">NEXT ROUND</button>
        </form>
    </div>
</section>