<section class="modalZero hidden">
    <h5 class="playerZeroWins">PLAYER z WINS!</h5>
    <div class="markWins">
        <img class="markImg" src="/starter-code/assets/icon-o.svg" alt="">
        <span class="winnerTextZero">TAKES THE ROUND</span>
    </div>
    <div class="buttonOptions">
        <form id="quit" action="/">
            <button class="quit">QUIT</button>
        </form>
        <form id="nextZero" action="">
            <button class="nextZero">NEXT ROUND</button>
        </form>
    </div>
</section>