<section class="modalX hidden">
    <h5 class="playerXWins">PLAYER x WINS!</h5>
    <div class="markWins">
        <img class="markImg" src="/starter-code/assets/icon-x.svg" alt="">
        <span class="winnerTextX">TAKES THE ROUND</span>
    </div>
    <div class="buttonOptions">
        <form id="quit" action="/">
            <button class="quit">QUIT</button>
        </form>
        <form id="nextX" action="">
            <button class="nextX">NEXT ROUND</button>
        </form>
    </div>
</section>